th, td {
    border: 1px solid black;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    }

table {
    border: 1px solid black;
    height: 100px;
    width: 500px;
    background-color: coral;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 370px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: darkslategrey;
}

td:hover {
    background-color: deeppink;
    cursor: pointer;
}

input {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 20px;
    color: darkslategrey;
}

section {
    text-align: center;
}

#win {
    font-size: 80px;
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    height: 40px;
    width: 180px;
    font-size: 20px;
    color: darkslategrey;
}
button:hover {
    cursor: pointer;
    background-color: skyblue;
}